
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    font-size:xx-large;
}

.hero {
    
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px; 
}
h2 {
    background:black;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    position: sticky;
    top: 70px; 
    background:red;
    padding: 15px;
    width: 200px;
    height: fit-content;
    border: 1px solid;
}

.content {
    flex: 1;
    padding: 20px;
}

.relativebox {
    position: relative;
    background: rgb(17, 184, 240);
    padding: 20px;
    margin-top: 20px;
}

.absolutebox {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: red;
    color: white;
    padding:  10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background:black;
    color: white;
    text-align: center;
    padding: 10px;
}
